<header>
  <nav id="oca-navbar">
    <div class="container">
      <div class="row navbar-container">
        <a class="navbar-brand" href="/"><img src="/assets/images/logo.png" alt=""></a>
        <div class="oca-menu">
          <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/ticketing-and-pricing">TICKETING & PRICING </a></li>
            <li><a href="/academy/sports">ACADEMY </a></li>
            <!-- <li class="has-submenu collapsed" data-submenu="academy" onclick="expandSubmenu('academy')"><a>ACADEMY</a>
              <div class="submenu " >
                <ul>
                  <li><a href="/">Price Table</a></li>
                  <li><a href="/academy/sports">Sports</a></li>
                  <li><a href="/">Coach Profile</a></li>
                  <li><a href="/">Athlete Training Program</a></li>
                  <li><a href="/">Skating Academy Rules & Regulations</a></li>
                </ul>
              </div>
            </li> -->
            <li class="has-submenu collapsed" onclick="expandSubmenu('ocapass')" data-submenu="ocapass"><a>OCAPASS</a>
              <div class="submenu">
                <ul>
                  <li><a href="/ocapass/price-table">Price Table</a></li>
                  <li><a href="/academy/sports">Sports</a></li>
                  <li><a href="/ocapass/coach-profile">Coach Profile</a></li>
                  <li><a href="/ocapass/athlete-training-programme">Athlete Training Program</a></li>
                  <li><a href="/ocapass/rules-regulations">Skating Academy Rules & Regulations</a></li>
                </ul>
              </div>
            </li>
            <li><a href="/facilities">FACILITIES</a></li>
            <li><a href="/events-promotions">EVENTS & PROMOTIONS</a></li>
            <li><a href="/contact-us">CONTACT</a></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>