@media(max-width: 1080px){
  .footer{
    flex-direction: column
  }
  .footer span{
    margin-left: 0;
    margin-bottom: 5px
  }
  .text h6{
    letter-spacing: 4px
  }
  .text div h6{
    text-align: center
  }
}
@media(max-width: 767px){
  .footer .address span::after{
    content: ''
  }
  .footer .address {
    margin: 10px 0;
    text-align: center
  }
  .footer .address span{
    display: block
  }
}
@media(max-width: 479px){
  .text{
    padding: 10px
  }
  .header{
    flex-direction: column
  }
  .header *{
    text-align: center
  }
  .header .header-separator{
    transform: rotate(90deg)
  }
}