<div id="footer-calendar">
  <div class="container">
    <div class="row">
      <div class="visit-container">
        <h6>VISIT <br> OASIS CENTRE ARENA</h6>
        <ul class="visit-menu" >
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="#"> LOREM IPSUM</a>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="#"> DOLOR SIT AMET</a>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="#"> CONSECTETUR ADIPISCING </a>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="#"> LOREM IPSUM <br> DOLOR SIT AMET</a>
          </li>
        </ul>
      </div>
      <div class="calendar-container triangle-down first-child">
        <div class="content">
          <div class="calendar">
            <span class="month">NOV</span>
            <span class="date">30</span>
          </div>
          <p class="detail">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="calendar-container triangle-up second-child">
        <div class="content">
          <div class="calendar">
            <span class="month">NOV</span>
            <span class="date">30</span>
          </div>
          <p class="detail">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
      <div class="calendar-container triangle-down third-child">
        <div class="content">
          <div class="calendar">
            <span class="month">NOV</span>
            <span class="date">30</span>
          </div>
          <p class="detail">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>