<div id="footer-calendar">
  <div class="container">
    <div class="row">
      <div class="visit-container">
        <h6>VISIT <br> OASIS CENTRE ARENA</h6>
        <ul class="visit-menu" >
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/visit"> VISIT</a>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/ticketing-pricing"> TICKETING & PRICING</a>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/facilities"> FACILITIES </a>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/events"> EVENTS</a>
          </li>
          <li>
            <i class="fas fa-chevron-right"></i>
            <a href="/promotions"> PROMOTIONS</a>
          </li>
        </ul>
      </div>
      <div class="calendar-container triangle-down first-child">
        <div class="content">
          <div class="calendar">
            <span class="month">JUL</span>
            <span class="date">6</span>
          </div>
          <p class="detail">
            
          </p>
        </div>
      </div>
      <div class="calendar-container triangle-up second-child">
        <div class="content">
          <div class="calendar">
            <span class="month">JUL</span>
            <span class="date">7</span>
          </div>
          <p class="detail">
            
          </p>
        </div>
      </div>
      <div class="calendar-container triangle-down third-child">
        <div class="content">
          <div class="calendar">
            <span class="month">JUL</span>
            <span class="date">8</span>
          </div>
          <p class="detail">
            
          </p>
        </div>
      </div>
    </div>
  </div>
</div>