<footer>
  <div class="container">
    <h1 class="footer-title">Contact Us.</h1>
    <div class="address-container">
      <div class="address">
        <i class="fas fa-map-marker fa-2x"></i>
        <div class="content">
          <p>
            <strong>OASIS CENTRE ARENA</strong><br>
            AEON MALL Jakarta Garden City<br>
            Jl. Boulevard Jakarta Garden City<br> 
            Cakung - Jakarta Timur, 13910
          </p>
        </div>
      </div>
      <div class="address">
        <i class="fas fa-phone fa-2x"></i>
        <div class="content">
          <p>021 80607526</p>
        </div>
      </div>
      <div class="address">
        <i class="fas fa-envelope fa-2x"></i>
        <div class="content">
          <p>info@oasiscentrearena.com</p>
        </div>
      </div>
    </div>
    <div class="social-media">
      <div class="footer-title">Connect <span>with Us</span></div>
      <div class="social-media-container">
        <a href=""><i class="fab fa-facebook-f"></i></a>
        <!-- <a href=""><i class="fab fa-instagram"></i></a> -->
        <a href=""><i class="fab fa-twitter"></i></a>
        <!-- <a href=""><i class="fab fa-youtube"></i></a> -->
      </div>
    </div>
  </div>
  <div class="copyright">
    <span>&copy; 2018 Oasis Centre Arena</span>
  </div>
</footer>