<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- meta -->
  <meta name="keywords" content="ice skating, jakarta, oasiscentrearena, oasis centre arena, olympiade, short track speed skating, figure skating, ice skating rink, speed skating">
  <meta name="description" content="This is the website of Oasis Centre Arena, the first olympic skating arena in Indonesia.">
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/favicons/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/favicons/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/favicons/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/favicons/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/favicons/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/favicons/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/favicons/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/favicons/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/favicons/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/favicons/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
  <meta name="msapplication-TileImage" content="/assets/images/favicons/ms-icon-144x144.png">
  <title>Welcome To Oasis Centre Arena</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,800" rel="stylesheet">
  <link rel="stylesheet" href="/assets/vendors/fontawesome-5/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/vendors/slick/slick.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
  {% include modules/preloader.html %}
  <div class="wrapper">
    {{content}}
  </div>
  {% include footer.html %}
  <script src="/assets/vendors/jquery/jquery-3.2.1.js"></script>
  <script src="/assets/vendors/popper/popper-1.12.9.js"></script>
  <script src="/assets/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/assets/vendors/fontawesome-5/js/fontawesome-all.min.js"></script>
  <script src="/assets/vendors/slick/slick.min.js"></script>
  <script src="/assets/js/scripts.js"></script>
  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD6Ia0zEUDL1X6sPZoRB0FJVUi_SrZUuw4&callback=initMap">
  </script>
</body>
</html>